body {
  background: url("../images/bg-repeat.jpg");
  /*background-size: cover;*/
  background-position: center;
  background-repeat: repeat;
  font-family: 'Raleway', sans-serif;
}
.container {
  width: 1024px;
}
.container-content {
  margin-top: 25px;
  padding: 15px;
  background: #000;
}
#header {
  border-radius: 0;
  margin: 0;
}
#event-list-carousel-widget {
  margin-bottom: 50px;
}
#event-list-carousel-widget .event-card {
  padding: 0;
}
#event-list-carousel-widget .slick-arrow {
  background: none !important;
}
#event-list-carousel-widget .event-card-text {
  color: white;
  text-align: center;
  position: relative;
}
#event-list-carousel-widget .event-card .event-card-text .event-name {
  padding-top: 100px !important;
  font-size: 40px !important;
  font-weight: bold !important;
}
#event-list-widget .event-card {
  color: white;
  padding: 10px 0;
}
