body {
  background: url("../images/bg-repeat.jpg");
  /*background-size: cover;*/
  background-position: center;
  background-repeat: repeat;
  font-family: 'Raleway', sans-serif;
}
#header {
  border-radius: none !important;
}
#event-list-carousel-widget {
  margin-bottom: 50px;
}
#event-list-carousel-widget .slick-arrow {
  background: none !important;
}
#event-list-carousel-widget .event-card-text {
  color: white;
  text-align: center;
  position: relative;
}
#event-list-carousel-widget .event-card .event-card-text .event-name {
  padding-top: 100px !important;
  font-size: 40px !important;
  font-weight: bold !important;
}
#event-list-widget {}
#event-list-widget .event-card {
  color: white;
  background: #1e1e1e;
  padding: 10px 0;
}
